<!DOCTYPE html>
<html>
<head>
  <title>GitSession</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% include some tag %>
  <%= csrf_meta_tags %>
</head>
<body>

Upper Block

<%= yield %>
  Git Session
</body>
</html>
